<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to "Sample Store", root_path, id: "logo" %>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#main-nav-collapse'>
        <span class='sr-only'>Toggle Navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span></button>
    </div>
    <div class='collapse navbar-collapse' id='main-nav-collapse'>
      <ul class="nav navbar-nav navbar-right" >
        <li class="search-bar">
          <%= form_tag("/products", method: "get") do %>
            <%= label_tag(:q, "Search Products:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag "Search", class: "btn btn-default btn-xs" %>
          <% end %>
        </li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </div>
</nav>