<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head_tags' %>
  </head>
  <body>
    <%= render '/layouts/header' %>
    <div class="top-padding"></div>
    <% if notice %>
      <p class="text-center" id="notice"><%= notice %></p>
    <% end %>
    <div class="container fill-height">
      <div class="row fill-height">
          <%= yield %>
      </div>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
